*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{    
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    align-items: center;
    border: 1px solid white;
}
.right{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.left{
    margin-left: 50px;
}
.right ul{
    display: flex;
    gap: 20px;
}
.right li{
    list-style: none;
    padding: 5px;
}